@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'PingFang TC', 'PingFang SC', 'Microsoft JhengHei', sans-serif;
    color: #30383d;
  }
}

/* @layer components {
  .btn {
    @apply bg-violet-500 hover:bg-violet-700 focus:ring-violet-400 rounded-full px-5 py-2 font-semibold text-white shadow-md focus:outline-none focus:ring focus:ring-opacity-75;
  }
} */

:root {
  --primary-500: #5ab4c5;
  --grey-50: #f1f3f4;
  --grey-100: #e3e7e9;
  --grey-500: #738995;
  --grey-800: #30383d;
  --white: #FFFFFF;
}
